body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: .25rem;
  background-color: #161a22;
  border-radius: 20px;
  height: 600px;
  width: 600px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}

.board{
  background-color: #3b3b3b;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}

.X, .O {
  font-size: 5rem;
  font-weight: 700;
}

.X{
  color: #ff2e62;
}

.O{
  color: #0ecdcc;
}

.bottom{
  grid-column: 2/3;
  width: 100%;
}

.reset{
  height: 50px;
  width: 100%;
  cursor: pointer;
  background-color: #ff2e62;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.result{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
}

.result .X, .result .O{
  margin-right: 10px;
}

#wins{
  font-size: 3rem;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: white;
}

footer a{
  text-decoration: none;
  color: #0ccfcb;
}

footer span{
  position: relative;
}

footer span::after{
  display: block;
  position: absolute;
  bottom: -5px;
  right: 2px;
  width: 95px;
  content: '';
  border-bottom: 3px solid #0ccfcb;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

footer span:hover::after{
  transform: scaleX(1);
}